
 .text{
    font-size: 22px;
    font-weight: 600;
    white-space: nowrap;
    opacity: 1;
    margin-left: 1rem;
    color: #AC3483;
}
.text2{
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 1;
    margin-left: 1rem;
    color: #FFF;
}
.text3{
    font-size: 20px;
    white-space: nowrap;
    opacity: 1;
    margin-left: 1rem;
    color: #fff;
    font-weight: 400;
}
.text4{
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 1;
    margin-left: 1rem;
    color: #FFF;
}


.dashboard{
    filter: saturate(100%)!important;
}
.dashboard:hover{
    filter: saturate(100%);
    transition:var(--tran-04) ;
}

 .register{
    filter: saturate(0%);
}
.register:hover{
    filter: saturate(100%);
    transition:var(--tran-04) ;
} 




.stick{
    background: linear-gradient(178.3deg, #AC3483 -7.3%, #86319E 51.03%, #3129DB 142.49%);
    margin-right: 1rem;
    width: .31rem;
    height: 4rem;
    margin-left: 12rem;
}
.title{
    display: flex;
    align-items: center;
}
.text-h2{
    margin-left: 13.5rem;
    margin-top: 1rem;
    font-weight: 200;
    font-size: 22px;
    color: #FFF;

}
.banner{
    width: 80%;
    margin-left:30%;
    margin-top: 4%;
}
.banner img{
    width: 50%;
}
.content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-left: 12rem;
    gap: 6rem;

}
/* ---------------------CONTEUDO PRINCIPAL-------------------- */

.content-form{
    margin-left: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:4rem;
    margin-top: 5rem;
    color: #FFF;
}

.initial-content{
    display: flex;
    justify-content: space-around;
}
.start-content{
    background: #2A2A2B;
    box-shadow: 0px 3px 60px -2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 30%;
    padding-left: 2rem;
    height: 200px;
}
.flex-itens{
    display: flex;
    
}

.sel-med{
    background: none;
    border: none;   
    width: 1.25rem;
}
/* ------------------- Grafico cirurgia/mes ---------------------- */

.mid-content{
    display: flex;
    justify-content: space-around ;
    
    
}
.m-content, .mp-content{
    background: #2A2A2B;
    box-shadow: 0px 3px 60px -2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.m-content{
    width: 65%;
}
.title-sur{
    align-items: baseline;
    justify-content: space-between;
    padding: 2rem 0rem 2rem 3rem;
    gap: .8rem;
    display: flex;
    flex-direction: column;
}
.title-sur h2{
    color: #AC3483;
    font-weight: 500;
    font-size: 34px;
}
.title-sur spam{
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
}
.chart-sur{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    gap: 2rem;
    margin-bottom: 3rem;

}
.sur-mes{
    width: 40%;
    margin-left: 3rem;
}
.total{
    background: url(../Components/SVG/Ellipse\ rosa.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 50%;
    margin: 2rem 0% 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.total p{
    font-size: 50px;
}
.title-total{
    width: 40%;
    display: flex;
    margin-left: 58%;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;

}



/* ------------------- Grafico cirurgia/procedimento ---------- */

.mp-content{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2%;
}
.title-proc{
    align-items: baseline;
    justify-content: space-between;
    /* padding: 2rem 0rem 2rem 3rem; */
    gap: .8rem;
    display: flex;
    flex-direction: column;
}
.title-proc h2{
    color: #e74c3c  ;
    font-weight: 500;
    font-size: 34px;    
}
.title-proc spam{
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
}

/* ------------------- Grafico de Gastos ---------------------- */

.end-content{
    display: flex;
    flex-direction: column;
    background: #2A2A2B;
    box-shadow: 0px 3px 60px -2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 98%;
    margin-bottom: 2rem;
}
.info{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 2rem 5rem 2rem 4rem;
}
.title-ex{
    gap: .8rem;
    display: flex;
    flex-direction: column;
}
.title-ex h2{
    color: #1ABC9C;
    font-weight: 500;
    font-size: 38px;
}
.title-ex spam{
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
}
.expenses{
    position: relative; 
    height:40vh; 
    width:100%;
    padding: 2rem 0px 2rem 2rem;
}
.value spam{
    color: #1ABC9C;
}
.value{
    font-size: 34px;
    
}
