
 <html>
  <head>
    <script src="https://kit.fontawesome.com/f0266290f1.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="../Components/SVG/favicon-16x16.png">
    <meta charset="UTF-8">
    <title>WorkMed</title>
    <link rel="stylesheet" type="text/css" href="../css/home.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    
  </head>
  <body>


    
  </body>
</html>
