<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WorkMed</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    
</head>
<body>
<!-- -------------/ Full Body /--------------- -->
<div class="container">

<!-- -------------/ Div Mãe do login /--------------- -->
    <div class="login">

<!--  -------------/ Banner Do Login /---------------  -->
        <div class="login-banner">
           <img src="../Components/SVG/WORKMED.svg" class="img-name">
            <img src="../Components/SVG/hospital.svg" class="img-svg">
            <span class="ex">
            <h1>What is Lorem Ipsum?</h1>
            <p class="p-banner">Lorem Ipsum is simply dummy text of
                the printing and typesetting industry.
                Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s,
                when an unknown
            </p>
        </span>
        </div>

<!---------------/ Formulário Login /----------------->
        <div class="login-form">
            

            <div class="text-login">
                <h2>Bem-Vindo de volta!</h2>
                <p>Entre para ter acesso a sua <span>dasboard</span>.</p>
            </div>
            <div class="form-group">
                <div class="form-input">
                    <input type="email" placeholder="Usuário">
                    <input type="password" placeholder="Senha">
                </div>
                
                <div class="btn-form">
                    <input type="submit" class="btn-submit" value="Entrar" >
                </div>
            </div>

        </div>
    </div>

</div>






</body>
</html>